.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start !important;
    height: 95vh;
    width: 95%;
    gap: 1.5rem;
    background: #f5f6fa;
    border-radius: 15px;
    border: 1px solid #ddd;
}

/* Score */
.score {
    font-size: 1.5rem;
    font-weight: 600;
}

.game-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 6rem auto auto auto;
}

.shape-zone {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.shape-image {
    width: 200px;
    height: auto;
    object-fit: contain;
}

/* Left shape */
.shape-zone:first-child {
    justify-content: flex-start;
    padding: 0 0 0 300px;
}

/* Right shape */
.shape-zone:last-child {
    justify-content: flex-end;
    padding: 0 300px 0 0;
}

/* Shape Disable */
.shape-image.disabled {
    pointer-events: none;
    opacity: 0.5;
  }  


@media (max-width: 1300px) {

    .shape-zone:first-child {
        padding-left: 200px;
    }

    .shape-zone:last-child {
        padding-right: 200px;
    }

}


@media (max-width: 1024px) {

    .shape-image {
        width: 150px;
    }

    .shape-zone:first-child {
        padding-left: 100px;
    }

    .shape-zone:last-child {
        padding-right: 100px;
    }

}


@media (max-width: 680px) {


    .shape-image {
        width: 120px;
    }

    /* Left */
    .shape-zone:first-child {
        padding: 0 0 0 100px;
    }

    /* Right */
    .shape-zone:last-child {
        padding: 0 100px 0 0;
    }

}

@media (max-width: 540px) {

    .shape-image {
        width: 110px;
    }

    .shape-zone:first-child {
        padding-left: 80px;
    }

    .shape-zone:last-child {
        padding-right: 80px;
    }

}

@media (max-width: 500px) {

    .shape-image {
        width: 100px;
    }

    .shape-zone:first-child {
        padding-left: 60px;
    }

    .shape-zone:last-child {
        padding-right: 60px;
    }

}